.menu_ribbon {
	background: none repeat scroll 0% 0% #cccccc;
	font-size: 2em;
	font-family: verdana, helvetica;
	width: 100%;
	line-height: 2em;
}

.menu_ribbon a {
	text-decoration: none;
	margin-right: 22px;
	margin-left: 5px;
}

.menu_picture {
	vertical-align: middle;
	width: 64px;
	height: 64px;
}

.menu_right {
	float: right;
}

.footer_ribbon {
	font-size: 8px;
	width: 100%;
	color: #e0e0e8;
	position: fixed;
	bottom: 0px;
	height: 20px;
	text-align: right;
}